<div class=form-page-container>

    <form [formGroup]="formGroup" class=form-container>
      <p>Форма для тебя</p>
  
      <div class=inputs-container>
  
        <div class=form-item>
          <div class=form-notice-container *ngIf="name?.invalid && formLeft.name  && (name?.dirty || name?.touched)">
            <div class=form-notice *ngIf="name?.invalid">
              Введите имя
            </div>
          </div>
          <div class=mini-placeholder-container
            *ngIf="name?.value && formLeft.name && (name?.invalid || name?.valid)">
            <div class=mini-placeholder>
              Представьтесь, пожалуйста
            </div>
          </div>
          <input type="text" [ngClass]="{'input-invalid': name?.errors && formLeft.name  && (name?.dirty || name?.touched), 'input-valid': name?.valid  && !formLeft.name }"
            formControlName=name placeholder='Представьтесь, пожалуйста' (blur)="formLeft.name = true"
            (focus)="formLeft.name = false">
        </div>
  
        <div class=form-item>
          <div class=form-notice-container *ngIf="email?.invalid && formLeft.email && (email?.dirty || email?.touched)">
            <div class=form-notice *ngIf="email?.errors!['email'] && (email?.dirty || email?.touched)">
              Введите e-mail корректно 
            </div>
            <div class=form-notice *ngIf="!email?.value && (email?.dirty || email?.touched)">
              Введите e-mail
            </div>
          </div>
          <div class=mini-placeholder-container
            *ngIf="email?.value && formLeft.email && (email?.invalid || email?.valid)">
            <div class=mini-placeholder>
              Введите ваш e-mail
            </div>
          </div>
          <input type="text"
            [ngClass]="{'input-invalid': email?.errors  && formLeft.email && (email?.dirty || email?.touched),'input-valid': email?.valid && !formLeft.email }"
            formControlName=email placeholder='Введите ваш e-mail' (blur)="formLeft.email = true"
            (focus)="formLeft.email = false">
        </div>
  
        <div class=form-item>
          <div class=form-notice-container>
            <div class=form-notice *ngIf="topic?.invalid && topic?.touched">
              Выберите тему
            </div>
          </div>
          <select formControlName=topic>
            <option value=null disabled selected hidden>Тема сообщения</option>
            <option value="Тема 1" label="Тема 1"></option>
            <option value="Тема 2" label="Тема 2"></option>
            <option value="Тема 3" label="Тема 3"></option>
            <option value="Тема 4" label="Тема 4"></option>
          </select>
        </div>
  
        <div class=form-item>
          <div class=form-notice-container>
            <div class=form-notice *ngIf="message?.invalid && formLeft.message && (message?.dirty || message?.touched)">
              Введите сообщение
            </div>
          </div>
          <div class=mini-placeholder-container
            *ngIf="message?.value && formLeft.message && (message?.invalid || message?.valid)">
            <div class=mini-placeholder>
              Ваше сообщение
            </div>
          </div>
          <textarea formControlName=message placeholder='Сообщение' (blur)="formLeft.message = true"
          (focus)="formLeft.message = false"></textarea>
        </div>
      </div>
  
      <div class=button-container>
        <button type="button" id=clear-btn (click)="clearForm()">Сбросить</button>
        <button type="button" id=submit-btn  (click)="sendFormOrValidate()">Отправить</button>
      </div>
    </form >
  </div >