@font-face {
  font-family: "LetoSans";
  src: url("assets/LetoSans-Regular.woff");
}

@font-face {
  font-family: "LetoSans Bold";
  src: url("assets/LetoSans-Bold.woff");
}

* {
  font-family: "LetoSans";
}

body {
  margin: 0;
}